<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/chart.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js" integrity="sha512-wBcFatf7yQavHQWtf4ZEjvtVz4XkYISO96hzvejfh18tn3OrJ3sPBppH0B6q/1SHB4OKHaNNUKqOmsiTGlOM/g==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js" integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ==" crossorigin="anonymous"></script>
    <script src="/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/javascripts/myChart.js"></script>
    <script src="/javascripts/download.js"></script>
    <script src="/javascripts/loading.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/clock.css' />
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6' crossorigin='anonymous'>

    <title><%= title %></title>
  </head>
  <body>
    <div class="box">
      <div class="clock"></div>
    </div>
    <!-- Side Bar -->
    <div id='side-bar' class="d-flex flex-column p-3 text-white bg-dark">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap"/>
        </svg>
        <span class="fs-4"><%= title %></span>
      </a>
      <hr>
      <div class="row">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
      </div>
    </div> <!-- End Sidebar  -->
    <div class='container-md myContainer'>
      <div class="row">
        <div class="col-md-2 input-row">
          <input id="search" class="form-control" type="text" placeholder="Search(IP Address)">
        </div>
        <div class="col-md-2 dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Date Filter
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item period" id='all'>All</a></li>
            <li><a class="dropdown-item period" id='week'>1 Week ago</a></li>
            <li><a class="dropdown-item period" id="month">1 Month ago</a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <span id="address"> Address : </span>
        </div>
        <div class="col-md-4">
          <span id="startTime"> StartTime : </span>
        </div>
        <div class="col-md-2">
          <button type="sumbit" class='btn btn-success' id='save' disabled='true'>
            S A V E
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="table-area">
            <table class='table table-striped table-hover log-table' id='tableId'>
              <thead class="table-dark"> 
                <th>No.</th> <th>Address</th> <th>Date (Start / END)</th>
              </thead>
              <tbody id="contents">
                <% if(locals.data){ %>
                  <% for(let i=(page*log_num)-log_num; i<page*log_num; i++){ %>
                    <% if(i == data.length) break %>
                    <% startTime = data[i].start_time.replace(/\+09:00|T/g, ' ') %>
                    <% endTime = data[i].end_time.replace(/\+09:00|T/g, ' ') %>
                    <tr class="log">
                      <td><%= i+1 %></td> <td><%=data[i].address%></td> <td><span class='startTime'><%=startTime%></span><br><span><%=endTime%></span></td>
                    </tr> 
                  <% } %>
                <% } %>
              </tbody>
            </table>
          </div>
          <div class="pagination-area">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <% if(page > 0) { %>
                  <li class="page-item active" id=1><a class="page-link page-num" >1</a></li>
                  <% for(i=2; i<=page_num; i++) { %>
                    <% if(i > 5) break;%>
                  <li class="page-item" id="<%=i%>"><a class="page-link page-num" ><%=i%></a></li>
                  <% } %>
                  <% if(page_num > 5) {%>
                    <li class="page-item" id="next" value="<%=i%>"><a class="page-link"> &gt; </a></li>
                  <%}%>
                <%}%>
              </ul>
            </nav>
          </div>
        </div> <!-- END Table -->

        <div class="col-md-8">
          <div class="row text-log">
            <div class='col-md-6' id="pingLog">
              <li class="list-group-item list-group-item-dark"><span>Ping</span></li>
              <div class='ping_textLog'>
                <ul id="ping_textLog_list" class='list-group'>
                  <!-- ping log -->
                  
                </ul>
              </div> <!-- END ping_textLog -->
            </div> <!-- END pingLog -->
            
            <div class='col-md-6' id="trLog">
              <li class="list-group-item list-group-item-dark"><span>TraceRouter</span></li>
              <div class='tr_log'>
                <ul id="trLog_list" class='list-group'>
                  <!-- traceroute log -->
                </ul>
              </div>
            </div> <!-- END trLog  -->
          </div>

          <div class="col-md-12">
            <li class="list-group-item list-group-item-dark"><span>Ping Graph</span></li>
            <div class='ping_graphLog' style="height: 100%;">
              <canvas id="myChart">
                
              </canvas>
            </div> <!-- END ping_graphLog -->
          </div>
        </div>
      </div><!-- END row  -->

      </div>
    </div>

  </body>
  <script>
    const doc = document;

    let ctx = doc.getElementById('myChart');
    let myChart =new Chart(ctx, options);

    let timelines = doc.getElementsByClassName('log');
    let periods = doc.getElementsByClassName('period');
    let pagination = doc.getElementsByClassName('page-item');
    let address;
    let dateFilter;

    // Pagination
    $(document).on('click', '.page-item', (obj) => {
      page = obj.currentTarget.id;

      if(page == 'next') page = obj.currentTarget.value;
      if(page == 'prev') page = obj.currentTarget.value;

      $.ajax({
        type: 'GET',
        url: `/history/pages/${page}`,
        data: {dateFilter, address},
        dataType: 'json',
        success: (data) => {
          loadData(data);
          paging(data.rows.length, data.log_num, 5 ,page);
        }
      })
    });

    // Date Filter
    $(periods).click((obj)=>{
      let address = $('#search').val();
      let url = '';
      let period = obj.currentTarget.id
      dateFilter = period;

      if(address == '') url = `/history/date/${period}`
      else url = `/history/date/${period}/search/${address}`
    
      $.ajax({
        type: 'GET',
        url: `${url}`,
        data: {},
        dataType: 'json',
        success: (data) => {
          loadData(data);
          paging(data.rows.length, data.log_num, data.page_num, 1)
        }
      });
    });

    // IP address search
    $('#search').on('propertychange change paste input', () => {
      address = $('#search').val();
      let url = address;
      let spaceExp = new RegExp(/\s/g);

      if(address == '' || spaceExp.exec(address) != null) {
        url = '/history/search/all';
      } else{
        url = `/history/search/${address}`;
      }
      $.ajax({
        type: 'GET',
        url: url,
        data: {},
        dataType: 'json',
        success: (data) => {
          loadData(data);
          paging(data.rows.length, data.log_num, data.page_num, 1)
        }
      });
    });

    // specific log
    $(document).on("click", ".log", (timeline) => {
      let startTime = timeline.currentTarget.childNodes[5].childNodes[0].innerText;

      $(timeline.currentTarget).siblings('.log').removeClass('table-danger');
      $(timeline.currentTarget).addClass('table-danger');
      loading();
      $.ajax({
        type: "GET",
        url: '/history/select/'+startTime,
        data: {},
        dataType: 'json',
        success: (data) => { 
          $('.pingLog').remove();
          $('.pingResultLog').remove();
          $('.trLog').remove();
          $('.trResultlog').remove();
          $('#save').attr('disabled', false);
          myChart.update('reset');
          resetData(myChart);

          startTime = replaceTimeString(data.pingLog[0].start_time);

          $('#address').text(`Address : ${data.pingLog[0].target}`);
          $('#startTime').text(`StartTime : ${startTime}`);

          let i = 0, j = 0;
          for(; j<data.trLog[0].log.length-1; j++){
            $('#trLog_list').append(`<li class='list-group-item trLog'><span>${data.trLog[0].log[j].hop} ${data.trLog[0].log[j].ip} ${data.trLog[0].log[j].rtt1}</span></li>`);
          }
          code = data.trLog[0].log[j];
          $('#trLog_list').append(`<li class='list-group-item trLog'><span>Close: ${code}</span></li>`);
          

          for(; i < data.pingLog[0].log.length; i++){
            $('#ping_textLog_list').append(`<li class='list-group-item pingLog'><span>${data.pingLog[0].target}: icmp_seq=${data.pingLog[0].log[i].icmp_seq} time=${data.pingLog[0].log[i].time}ms</span></li>`);
          }

          $('#ping_textLog_list').append(`<li class='list-group-item list-group-item-success pingResultLog'><span>--- ping statistics ---</span></li>`);
          $('#ping_textLog_list').append(`<li class='list-group-item pingResultLog'><span>${data.pingLog[0].summaryLog.cnt} packets transmitted, ${data.pingLog[0].summaryLog.cnt} packets received</span></li>`);
          $("#ping_textLog_list").append(`<li class='list-group-item pingResultLog'><span>round-trip min/avg/max = ${data.pingLog[0].summaryLog.min}/${data.pingLog[0].summaryLog.avg}/${data.pingLog[0].summaryLog.max} (ms)</span></li>`);
          let pinglogs = doc.getElementsByClassName('pingLog');

          let idx = 0, sum = 0;
          for(let pinglog of pinglogs) {
            data = pinglog.innerText;
            splitData = data.split(/time=/g);
            temp = splitData[1].replace(/ms/g, '');

            sum = sum + parseInt(temp);
            addData(myChart, idx++, temp, (sum/idx).toFixed(3));
          }
          clearLoading();
        }, //End Success function
        error: (err) => { console.log('err!!'); console.error(err) }
      });
    });

    $('#save').on('click', ()=> {
      let tmpTime = doc.getElementById('startTime').innerText;
      let startTime = tmpTime.split(': ');

      let pingLogs = doc.getElementsByClassName('pingLog');
      let pingResultLogs = doc.getElementsByClassName('pingResultLog');
      let trLogs = doc.getElementsByClassName('trLog');
      let pingResult = {
        title : [],
        packet: [],
        rtt : []
      };
      pingResult.title.push(pingResultLogs[0].innerText)
      pingResult.packet.push(pingResultLogs[1].innerText)
      pingResult.rtt.push(pingResultLogs[2].innerText)
      
      data = downloadReady(pingLogs, pingResult, trLogs);
      download(startTime[1], data) 
    });

    replaceTimeString = (timeString) => {
      return timeString.replace(/\+09:00|T/g, ' ');
    }

    loadData = (data) => {
      $('.log').remove();
      
      if(data.rows.length){
        for(let i=(data.page*data.log_num)-data.log_num; i<data.page*data.log_num; i++) {
          if(i == (data.rows.length)) break;


          let startTime = replaceTimeString(data.rows[i].start_time);
          let endTime = replaceTimeString(data.rows[i].end_time);

          $('#contents').append(`<tr class='log'> 
                                  <td>${i+1}</td> 
                                  <td>${data.rows[i].address}</td> 
                                  <td><span class='startTime'>${startTime}</span><br><span>${endTime}</span></td> 
                                </tr>`);
        }
      }
    }

    paging = (totalData, dataPerPage, pageCount, currentPage) => {
      $('.page-item').remove();

      let totalPage = Math.ceil(totalData/dataPerPage);
      let pageGroup = Math.ceil(currentPage/pageCount);

      if(pageCount > 5) pageCount = 5;

      let last = pageGroup * pageCount;

      if(last > totalPage)
        last = totalPage;

      let first = last - (pageCount-1);
      let next = last+1;
      let prev = first-1;

      if(first < 1) first = 1;

      if(prev > 0) $('.pagination').append(`<li class="page-item" id="prev" value=${prev}><a class="page-link"> &lt; </a></li>`);

      for(let i=first; i <=last; i++){
        $('.pagination').append(`<li id='${i}' class="page-item"><a class="page-link page-num">${i}</a></li>`)
      }

      if(last < totalPage) $('.pagination').append(`<li class="page-item" id="next" value=${next}><a class="page-link"> &gt; </a></li>`);

      $(`#${currentPage}`).addClass('active');
    }
  </script>
</html>